.nav-container {
    background-color:rgb(206, 206, 255);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

button {
    background: none;
    border: none;
    /* color:whitesmoke; */
}

button:hover {
    cursor: pointer;
}

.nav-logo {
    height: 2.8rem;
}

.logo-text {
    font-family: monospace;
    font-size: 2.1rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 40vmax;
    height: 1.9rem;
    text-align: center;
    border-radius: 15px;
    border: none;
}

.right-side {
    display: flex;
    align-items: center;
}